In [12]:
import pandas as pd
import carbonpipeline.cli as cli
from carbonpipeline.constants import *
from carbonpipeline.processing_utils import *
pd.set_option('display.width', 200)           # total character width
pd.set_option('display.max_columns', None)    # donâ€™t limit columns
pd.set_option('display.expand_frame_repr', False)

In [13]:
df = pd.read_csv("predictors.csv")

In [14]:
filtered_df = cli.filtered_and_renamed_columns(df, COLUMN_NAME_MAPPING)
filtered_df['timestamp'] = pd.to_datetime(filtered_df['timestamp'])
filtered_df = filtered_df.loc[:47]

In [15]:
filtered_df.head(5)

   CO2   G   H  LE  LW_IN  LW_OUT  NETRAD  PA  PPFD_IN  PPFD_OUT   P  RH  SW_IN  SW_OUT  TA  USTAR  VPD  WD  WS           timestamp
0  NaN NaN NaN NaN    NaN     NaN     NaN NaN      NaN       NaN NaN NaN    NaN     NaN NaN    NaN  NaN NaN NaN 1994-01-01 00:00:00
1  NaN NaN NaN NaN    NaN     NaN     NaN NaN      NaN       NaN NaN NaN    NaN     NaN NaN    NaN  NaN NaN NaN 1994-01-01 01:00:00
2  NaN NaN NaN NaN    NaN     NaN     NaN NaN      NaN       NaN NaN NaN    NaN     NaN NaN    NaN  NaN NaN NaN 1994-01-01 02:00:00
3  NaN NaN NaN NaN    NaN     NaN     NaN NaN      NaN       NaN NaN NaN    NaN     NaN NaN    NaN  NaN NaN NaN 1994-01-01 03:00:00
4  NaN NaN NaN NaN    NaN     NaN     NaN NaN      NaN       NaN NaN NaN    NaN     NaN NaN    NaN  NaN NaN NaN 1994-01-01 04:00:00

In [16]:
input_vars = ['RH', 'VPD', 'PA', 'TA', 'P', 'SW_IN', 'LW_IN', 'SW_OUT', 'LW_OUT', 'NETRAD', 'H', 'LE', 'USTAR', 'WD', 'WS', 'G']
renamed_df = cli.dataframe_restructuration(filtered_df, input_vars).loc[:47]
renamed_df.head(5)

variable CO2   G        H       LE      LW_IN      LW_OUT      NETRAD        P       PA      PPFD_IN PPFD_OUT  RH      SW_IN      SW_OUT       TA      USTAR      VPD       WD       WS                timestamp
source    CS  CS ERA5  CS ERA5  CS ERA5    CS ERA5     CS ERA5     CS ERA5  CS ERA5  CS ERA5      CS       CS  CS ERA5    CS ERA5     CS ERA5  CS ERA5    CS ERA5  CS ERA5  CS ERA5  CS ERA5                  CS
0        NaN NaN  NaN NaN  NaN NaN  NaN   NaN  NaN    NaN  NaN    NaN  NaN NaN  NaN NaN  NaN     NaN      NaN NaN  NaN   NaN  NaN    NaN  NaN NaN  NaN   NaN  NaN NaN  NaN NaN  NaN NaN  NaN 1994-01-01 00:00:00
1        NaN NaN  NaN NaN  NaN NaN  NaN   NaN  NaN    NaN  NaN    NaN  NaN NaN  NaN NaN  NaN     NaN      NaN NaN  NaN   NaN  NaN    NaN  NaN NaN  NaN   NaN  NaN NaN  NaN NaN  NaN NaN  NaN 1994-01-01 01:00:00
2        NaN NaN  NaN NaN  NaN NaN  NaN   NaN  NaN    NaN  NaN    NaN  NaN NaN  NaN NaN  NaN     NaN      NaN NaN  NaN   NaN  NaN    NaN  NaN NaN  NaN   NaN  NaN NaN  NaN NaN  NaN NaN  NaN 1994-01-01 02:00:00
3        NaN NaN  NaN NaN  NaN NaN  NaN   NaN  NaN    NaN  NaN    NaN  NaN NaN  NaN NaN  NaN     NaN      NaN NaN  NaN   NaN  NaN    NaN  NaN NaN  NaN   NaN  NaN NaN  NaN NaN  NaN NaN  NaN 1994-01-01 03:00:00
4        NaN NaN  NaN NaN  NaN NaN  NaN   NaN  NaN    NaN  NaN    NaN  NaN NaN  NaN NaN  NaN     NaN      NaN NaN  NaN   NaN  NaN    NaN  NaN NaN  NaN   NaN  NaN NaN  NaN NaN  NaN NaN  NaN 1994-01-01 04:00:00

In [17]:
miss = filtered_df[filtered_df[filtered_df.columns.drop('timestamp')].isnull().any(axis=1)].copy()
miss['year']  = miss['timestamp'].dt.year
miss['month'] = miss['timestamp'].dt.month
miss['day'] = miss['timestamp'].dt.day

In [18]:
unzip_sub_fldrs = ["./datasets/unzip/ERA5_1994-01-01", "./datasets/unzip/ERA5_1994-01-02"] #
df = cli.merge_datasets(unzip_sub_fldrs)
df_mod = df.loc[('1994-01-01 00:00:00', slice(None), slice(None))]
df_mod

                    total_precipitation  mean_surface_downward_long_wave_radiation_flux  mean_surface_downward_short_wave_radiation_flux  mean_surface_downward_short_wave_radiation_flux_clear_sky  mean_surface_latent_heat_flux  mean_surface_sensible_heat_flux  10m_u_component_of_wind  10m_v_component_of_wind  2m_dewpoint_temperature  2m_temperature  surface_pressure  soil_temperature_level_1  soil_temperature_level_2  soil_temperature_level_3  volumetric_soil_water_layer_1  volumetric_soil_water_layer_2  volumetric_soil_water_layer_3  forecast_albedo  friction_velocity
latitude longitude
75.125   44.875                0.000286                                      270.412354                                              0.0                                                0.0                             -27.093674                       -15.586868                 1.848311                 6.620894               269.286102      271.711334      99342.734375                272.939819                273.351074                273.349670                  -9.499490e-07                       0.000004                        0.00001         0.059998           0.271927
         45.125                0.000341                                      272.368896                                              0.0                                                0.0                             -30.836349                       -20.484329                 1.492827                 7.969649               269.481781      271.643524      99357.609375                272.997925                273.375305                273.373871                  -9.499490e-07                       0.000004                        0.00001         0.059998           0.330666
74.875   44.875                0.000449                                      278.365234                                              0.0                                                0.0                             -34.491867                       -22.103714                 1.309310                 9.254806               269.551727      271.764496      99358.648438                273.009216                273.358582                273.358093                  -9.499490e-07                       0.000004                        0.00001         0.059998           0.397770
         45.125                0.000505                                      280.353760                                              0.0                                                0.0                             -38.296066                       -27.081497                 0.947997                10.625777               269.750610      271.695587      99373.773438                273.068268                273.383179                273.382721                  -9.499490e-07                       0.000004                        0.00001         0.059998           0.457474

In [19]:
df_grouped = df.groupby(['valid_time']).mean()
df_grouped.head(5)

                     total_precipitation  mean_surface_downward_long_wave_radiation_flux  mean_surface_downward_short_wave_radiation_flux  mean_surface_downward_short_wave_radiation_flux_clear_sky  mean_surface_latent_heat_flux  mean_surface_sensible_heat_flux  10m_u_component_of_wind  10m_v_component_of_wind  2m_dewpoint_temperature  2m_temperature  surface_pressure  soil_temperature_level_1  soil_temperature_level_2  soil_temperature_level_3  volumetric_soil_water_layer_1  volumetric_soil_water_layer_2  volumetric_soil_water_layer_3  forecast_albedo  friction_velocity
valid_time
1994-01-01 00:00:00             0.000395                                      275.375061                                              0.0                                                0.0                             -32.679489                       -21.314102                 1.399611                 8.617782               269.517548      271.703735      99358.187500                273.003815                273.367035                273.366089                  -9.499490e-07                   4.186062e-06                       0.000010         0.059998           0.364460
1994-01-01 01:00:00             0.000567                                      275.541992                                              0.0                                                0.0                             -36.174393                       -25.423828                 0.505762                10.335739               269.672058      271.680725      99335.828125                273.003784                273.366638                273.367157                   9.577721e-06                   1.106877e-06                       0.000011         0.059998           0.434082
1994-01-01 02:00:00             0.000589                                      266.886719                                              0.0                                                0.0                             -42.880661                       -30.018814                -0.463620                11.937889               269.644409      271.694153      99356.000000                273.002930                273.366272                273.366241                   7.029623e-06                   1.110602e-07                       0.000011         0.059998           0.519394
1994-01-01 03:00:00             0.000584                                      274.374329                                              0.0                                                0.0                             -51.146851                       -36.554276                -1.675142                13.422287               269.531738      271.561707      99342.070312                273.002808                273.365845                273.365417                   6.690621e-06                  -3.174879e-06                       0.000012         0.059998           0.600566
1994-01-01 04:00:00             0.000409                                      272.926392                                              0.0                                                0.0                             -56.999588                       -47.751770                -3.146688                14.055844               269.517090      271.268616      99334.390625                273.004272                273.365906                273.366608                   6.590039e-06                  -3.129244e-07                       0.000012         0.059998           0.647164

In [22]:

def ameriflux_to_era5(df: pd.DataFrame, pred: str) -> np.array:
    cols = VARIABLES_FOR_PREDICTOR[pred]     
    func = PROCESSORS.get(pred)

    if func is None:
        return df[cols[0]].to_numpy()

    return df[cols].apply(lambda row: func(*row), axis=1).to_numpy()

for pred, origin in renamed_df.columns:
    if 'ERA' in origin:
        renamed_df.loc[:, (pred, 'ERA5')] = ameriflux_to_era5(df_grouped, pred)
        
renamed_df.head(10)

variable CO2   G              H             LE            LW_IN             LW_OUT            NETRAD               P            PA            PPFD_IN PPFD_OUT  RH            SW_IN      SW_OUT       TA           USTAR           VPD            WD            WS                      timestamp
source    CS  CS       ERA5  CS       ERA5  CS       ERA5    CS        ERA5     CS       ERA5     CS        ERA5  CS      ERA5  CS       ERA5      CS       CS  CS       ERA5    CS ERA5     CS ERA5  CS      ERA5    CS      ERA5  CS      ERA5  CS      ERA5  CS       ERA5                  CS
0        NaN NaN -21.314102 NaN -21.314102 NaN -32.679489   NaN  275.375061    NaN  16.522086    NaN  258.852975 NaN  0.000395 NaN  99.358187     NaN      NaN NaN  85.051865   NaN  0.0    NaN  0.0 NaN -1.446265   NaN  0.364460 NaN  0.809912 NaN  1.409792 NaN   8.730697 1994-01-01 00:00:00
1        NaN NaN -25.423828 NaN -25.423828 NaN -36.174393   NaN  275.541992    NaN  16.532101    NaN  259.009891 NaN  0.000567 NaN  99.335828     NaN      NaN NaN  86.184488   NaN  0.0    NaN  0.0 NaN -1.469275   NaN  0.434082 NaN  0.747111 NaN  1.521902 NaN  10.348106 1994-01-01 01:00:00
2        NaN NaN -30.018814 NaN -30.018814 NaN -42.880661   NaN  266.886719    NaN  16.012798    NaN  250.873921 NaN  0.000589 NaN  99.356000     NaN      NaN NaN  85.922065   NaN  0.0    NaN  0.0 NaN -1.455847   NaN  0.519394 NaN  0.762155 NaN  1.609613 NaN  11.946888 1994-01-01 02:00:00
3        NaN NaN -36.554276 NaN -36.554276 NaN -51.146851   NaN  274.374329    NaN  16.462043    NaN  257.912285 NaN  0.000584 NaN  99.342070     NaN      NaN NaN  86.034754   NaN  0.0    NaN  0.0 NaN -1.588293   NaN  0.600566 NaN  0.747754 NaN  1.694957 NaN  13.526415 1994-01-01 03:00:00
4        NaN NaN -47.751770 NaN -47.751770 NaN -56.999588   NaN  272.926392    NaN  16.375169    NaN  256.551222 NaN  0.000409 NaN  99.334391     NaN      NaN NaN  87.813740   NaN  0.0    NaN  0.0 NaN -1.881384   NaN  0.647164 NaN  0.636729 NaN  1.791035 NaN  14.403763 1994-01-01 04:00:00
5        NaN NaN -57.823349 NaN -57.823349 NaN -60.859222   NaN  275.108765    NaN  16.506108    NaN  258.602656 NaN  0.000246 NaN  99.337695     NaN      NaN NaN  88.731886   NaN  0.0    NaN  0.0 NaN -2.103430   NaN  0.665767 NaN  0.577922 NaN  1.880380 NaN  14.712278 1994-01-01 05:00:00
6        NaN NaN -65.891708 NaN -65.891708 NaN -66.582275   NaN  278.012268    NaN  16.680314    NaN  261.331954 NaN  0.000195 NaN  99.338000     NaN      NaN NaN  88.293127   NaN  0.0    NaN  0.0 NaN -2.353125   NaN  0.667179 NaN  0.587994 NaN  1.946654 NaN  14.536643 1994-01-01 06:00:00
7        NaN NaN -65.966354 NaN -65.966354 NaN -65.554657   NaN  274.216614    NaN  16.452581    NaN  257.764033 NaN  0.000124 NaN  99.379430     NaN      NaN NaN  88.204297   NaN  0.0    NaN  0.0 NaN -2.597845   NaN  0.619341 NaN  0.580408 NaN  2.009281 NaN  14.067255 1994-01-01 07:00:00
8        NaN NaN -68.802063 NaN -68.802063 NaN -66.224976   NaN  268.085999    NaN  16.084753    NaN  252.001245 NaN  0.000052 NaN  99.376344     NaN      NaN NaN  85.264901   NaN  0.0    NaN  0.0 NaN -2.658514   NaN  0.593130 NaN  0.721353 NaN  2.046813 NaN  13.629579 1994-01-01 08:00:00
9        NaN NaN -66.577240 NaN -66.577240 NaN -70.758194   NaN  254.878036    NaN  15.292295    NaN  239.585741 NaN  0.000043 NaN  99.405000     NaN      NaN NaN  78.589694   NaN  0.0    NaN  0.0 NaN -2.352209   NaN  0.597132 NaN  1.075444 NaN  2.023706 NaN  13.729343 1994-01-01 09:00:00