In [15]:
import pandas as pd
import carbonpipeline.cli as cli
from carbonpipeline.constants import *
pd.set_option('display.width', 200)           # total character width
pd.set_option('display.max_columns', None)    # donâ€™t limit columns
pd.set_option('display.expand_frame_repr', False)

In [16]:
df = pd.read_csv("predictors.csv")

In [17]:
filtered_df = cli.filtered_and_renamed_columns(df, COLUMN_NAME_MAPPING)
filtered_df['timestamp'] = pd.to_datetime(filtered_df['timestamp'])
filtered_df = filtered_df.loc[:47]

In [22]:
filtered_df.head(5)

   CO2   G   H  LE  LW_IN  LW_OUT  NETRAD  PA  PPFD_IN  PPFD_OUT   P  RH  SW_IN  SW_OUT  TA  USTAR  VPD  WD  WS           timestamp
0  NaN NaN NaN NaN    NaN     NaN     NaN NaN      NaN       NaN NaN NaN    NaN     NaN NaN    NaN  NaN NaN NaN 1994-01-01 00:00:00
1  NaN NaN NaN NaN    NaN     NaN     NaN NaN      NaN       NaN NaN NaN    NaN     NaN NaN    NaN  NaN NaN NaN 1994-01-01 01:00:00
2  NaN NaN NaN NaN    NaN     NaN     NaN NaN      NaN       NaN NaN NaN    NaN     NaN NaN    NaN  NaN NaN NaN 1994-01-01 02:00:00
3  NaN NaN NaN NaN    NaN     NaN     NaN NaN      NaN       NaN NaN NaN    NaN     NaN NaN    NaN  NaN NaN NaN 1994-01-01 03:00:00
4  NaN NaN NaN NaN    NaN     NaN     NaN NaN      NaN       NaN NaN NaN    NaN     NaN NaN    NaN  NaN NaN NaN 1994-01-01 04:00:00

In [23]:
input_vars = ['RH', 'G', 'LW_IN']
renamed_df = cli.dataframe_restructuration(filtered_df, input_vars).loc[:47]
renamed_df.head(5)

variable CO2   G        H  LE LW_IN      LW_OUT NETRAD   P  PA PPFD_IN PPFD_OUT  RH      SW_IN SW_OUT  TA USTAR VPD  WD  WS           timestamp
source    CS  CS ERA5  CS  CS    CS ERA5     CS     CS  CS  CS      CS       CS  CS ERA5    CS     CS  CS    CS  CS  CS  CS                  CS
0        NaN NaN  NaN NaN NaN   NaN  NaN    NaN    NaN NaN NaN     NaN      NaN NaN  NaN   NaN    NaN NaN   NaN NaN NaN NaN 1994-01-01 00:00:00
1        NaN NaN  NaN NaN NaN   NaN  NaN    NaN    NaN NaN NaN     NaN      NaN NaN  NaN   NaN    NaN NaN   NaN NaN NaN NaN 1994-01-01 01:00:00
2        NaN NaN  NaN NaN NaN   NaN  NaN    NaN    NaN NaN NaN     NaN      NaN NaN  NaN   NaN    NaN NaN   NaN NaN NaN NaN 1994-01-01 02:00:00
3        NaN NaN  NaN NaN NaN   NaN  NaN    NaN    NaN NaN NaN     NaN      NaN NaN  NaN   NaN    NaN NaN   NaN NaN NaN NaN 1994-01-01 03:00:00
4        NaN NaN  NaN NaN NaN   NaN  NaN    NaN    NaN NaN NaN     NaN      NaN NaN  NaN   NaN    NaN NaN   NaN NaN NaN NaN 1994-01-01 04:00:00

In [20]:
miss = filtered_df[filtered_df[filtered_df.columns.drop('timestamp')].isnull().any(axis=1)].copy()
miss['year']  = miss['timestamp'].dt.year
miss['month'] = miss['timestamp'].dt.month
miss['day'] = miss['timestamp'].dt.day

In [21]:
unzip_sub_fldrs = ["./datasets/unzip/ERA5_1994-01-01", "./datasets/unzip/ERA5_1994-01-02"] #
df = cli.merge_datasets(unzip_sub_fldrs)
df_mod = df.loc[('1994-01-01 00:00:00', slice(None), slice(None))]
df_mod

FileNotFoundError: [Errno 2] No such file or directory: './datasets/unzip/ERA5_1994-01-01'

In [ ]:
df_grouped = df.groupby(['valid_time']).mean()
df_grouped.head(5)

                     total_precipitation  mean_surface_downward_long_wave_radiation_flux  mean_surface_downward_short_wave_radiation_flux  mean_surface_downward_short_wave_radiation_flux_clear_sky  mean_surface_latent_heat_flux  mean_surface_sensible_heat_flux       u10        v10         d2m         t2m  surface_pressure  soil_temperature_level_1  soil_temperature_level_2  soil_temperature_level_3  volumetric_soil_water_layer_1  volumetric_soil_water_layer_2  volumetric_soil_water_layer_3  forecast_albedo  friction_velocity
valid_time
1994-01-01 00:00:00             0.000395                                      275.375061                                              0.0                                                0.0                             -32.679489                       -21.314102  1.399611   8.617782  269.517548  271.703735      99358.187500                273.003815                273.367035                273.366089                  -9.499490e-07                   4.186062e-06                       0.000010         0.059998           0.364460
1994-01-01 01:00:00             0.000567                                      275.541992                                              0.0                                                0.0                             -36.174393                       -25.423828  0.505762  10.335739  269.672058  271.680725      99335.828125                273.003784                273.366638                273.367157                   9.577721e-06                   1.106877e-06                       0.000011         0.059998           0.434082
1994-01-01 02:00:00             0.000589                                      266.886719                                              0.0                                                0.0                             -42.880661                       -30.018814 -0.463620  11.937889  269.644409  271.694153      99356.000000                273.002930                273.366272                273.366241                   7.029623e-06                   1.110602e-07                       0.000011         0.059998           0.519394
1994-01-01 03:00:00             0.000584                                      274.374329                                              0.0                                                0.0                             -51.146851                       -36.554276 -1.675142  13.422287  269.531738  271.561707      99342.070312                273.002808                273.365845                273.365417                   6.690621e-06                  -3.174879e-06                       0.000012         0.059998           0.600566
1994-01-01 04:00:00             0.000409                                      272.926392                                              0.0                                                0.0                             -56.999588                       -47.751770 -3.146688  14.055844  269.517090  271.268616      99334.390625                273.004272                273.365906                273.366608                   6.590039e-06                  -3.129244e-07                       0.000012         0.059998           0.647164

In [ ]:
"""for pred, origin in (renamed_df.columns):
    if 'ERA' in origin:
        vars = VARIABLES_FOR_PREDICTOR[pred]
        print(f"Rows for {pred}\n{renamed_df.loc[:, (pred, origin)]}")"""

'for pred, origin in (renamed_df.columns):\n    if \'ERA\' in origin:\n        vars = VARIABLES_FOR_PREDICTOR[pred]\n        print(f"Rows for {pred}\n{renamed_df.loc[:, (pred, origin)]}")'

In [ ]:
import numpy as np
shape = len(input_vars)
nb_rows = df_grouped.shape[0]
df = pd.DataFrame(data=np.array([np.zeros(shape) for _ in range(nb_rows)]), columns=input_vars)
df = pd.concat([df, renamed_df['timestamp']], axis=1).rename(columns={'CS': 'timestamp'})
df

         RH    G  LW_IN           timestamp
0       0.0  0.0    0.0 1994-01-01 00:00:00
1       0.0  0.0    0.0 1994-01-01 01:00:00
2       0.0  0.0    0.0 1994-01-01 02:00:00
3       0.0  0.0    0.0 1994-01-01 03:00:00
4       0.0  0.0    0.0 1994-01-01 04:00:00
...     ...  ...    ...                 ...
236683  NaN  NaN    NaN 2020-12-31 19:00:00
236684  NaN  NaN    NaN 2020-12-31 20:00:00
236685  NaN  NaN    NaN 2020-12-31 21:00:00
236686  NaN  NaN    NaN 2020-12-31 22:00:00
236687  NaN  NaN    NaN 2020-12-31 23:00:00

[236688 rows x 4 columns]

In [ ]:
from carbonpipeline.processing_utils import *
renamed_df.loc[:, ('RH', 'ERA5')] =  list(map(lambda x, y: relative_humidity(x, y),
                                              df_grouped['t2m'].tolist(),
                                              df_grouped['d2m'].tolist()))
renamed_df

ValueError: Must have equal len keys and value when setting with an iterable