In [14]:
import pandas as pd
import carbonpipeline.cli as cli
from carbonpipeline.constants import *
import cfgrib
import xarray as xr

In [15]:
df = pd.read_csv("predictors.csv")

In [16]:
filtered_df = cli.filtered_and_renamed_columns(df, COLUMN_NAME_MAPPING)
filtered_df['timestamp'] = pd.to_datetime(filtered_df['timestamp'])

In [17]:
filtered_df

,CO2,G,H,LE,LW_IN,LW_OUT,NETRAD,PA,PPFD_IN,PPFD_OUT,P,RH,SW_IN,SW_OUT,TA,USTAR,VPD,WD,WS,timestamp
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994-01-01 00:00:00
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994-01-01 01:00:00
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994-01-01 02:00:00
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994-01-01 03:00:00
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236683,-0.301087,-0.167411,-0.173071,-0.162175,-0.360071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.5,NaN,-0.016972,NaN,-0.495032,NaN,NaN,2020-12-31 19:00:00
236684,-0.301083,-0.167410,-0.173181,-0.162261,-0.360130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.5,NaN,-0.016956,NaN,-0.495005,NaN,NaN,2020-12-31 20:00:00
236685,-0.301080,-0.167409,-0.173203,-0.162386,-0.360191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.5,NaN,-0.016956,NaN,-0.494991,NaN,NaN,2020-12-31 21:00:00
236686,-0.301077,-0.167408,-0.173198,-0.162516,-0.360256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.5,NaN,-0.016956,NaN,-0.494991,NaN,NaN,2020-12-31 22:00:00
236687,-0.301075,-0.167407,-0.173225,-0.162551,-0.360322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.5,NaN,-0.016956,NaN,-0.494968,NaN,NaN,2020-12-31 23:00:00

In [18]:
input_vars = ['CO2', 'G', 'LW_IN']
renamed_vars = map(lambda var: "CS, " + var, input_vars)
a = filtered_df.rename(columns=dict(zip(input_vars, renamed_vars)))
a

,"CS, CO2","CS, G",H,LE,"CS, LW_IN",LW_OUT,NETRAD,PA,PPFD_IN,PPFD_OUT,P,RH,SW_IN,SW_OUT,TA,USTAR,VPD,WD,WS,timestamp
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994-01-01 00:00:00
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994-01-01 01:00:00
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994-01-01 02:00:00
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994-01-01 03:00:00
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236683,-0.301087,-0.167411,-0.173071,-0.162175,-0.360071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.5,NaN,-0.016972,NaN,-0.495032,NaN,NaN,2020-12-31 19:00:00
236684,-0.301083,-0.167410,-0.173181,-0.162261,-0.360130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.5,NaN,-0.016956,NaN,-0.495005,NaN,NaN,2020-12-31 20:00:00
236685,-0.301080,-0.167409,-0.173203,-0.162386,-0.360191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.5,NaN,-0.016956,NaN,-0.494991,NaN,NaN,2020-12-31 21:00:00
236686,-0.301077,-0.167408,-0.173198,-0.162516,-0.360256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.5,NaN,-0.016956,NaN,-0.494991,NaN,NaN,2020-12-31 22:00:00
236687,-0.301075,-0.167407,-0.173225,-0.162551,-0.360322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.5,NaN,-0.016956,NaN,-0.494968,NaN,NaN,2020-12-31 23:00:00

In [19]:
import numpy as np

df = a.copy()
df[[("ERA5, " + var) for var in input_vars]] = np.nan
df

,"CS, CO2","CS, G",H,LE,"CS, LW_IN",LW_OUT,NETRAD,PA,PPFD_IN,PPFD_OUT,...,SW_OUT,TA,USTAR,VPD,WD,WS,timestamp,"ERA5, CO2","ERA5, G","ERA5, LW_IN"
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1994-01-01 00:00:00,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1994-01-01 01:00:00,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1994-01-01 02:00:00,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1994-01-01 03:00:00,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1994-01-01 04:00:00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236683,-0.301087,-0.167411,-0.173071,-0.162175,-0.360071,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.016972,NaN,-0.495032,NaN,NaN,2020-12-31 19:00:00,NaN,NaN,NaN
236684,-0.301083,-0.167410,-0.173181,-0.162261,-0.360130,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.016956,NaN,-0.495005,NaN,NaN,2020-12-31 20:00:00,NaN,NaN,NaN
236685,-0.301080,-0.167409,-0.173203,-0.162386,-0.360191,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.016956,NaN,-0.494991,NaN,NaN,2020-12-31 21:00:00,NaN,NaN,NaN
236686,-0.301077,-0.167408,-0.173198,-0.162516,-0.360256,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.016956,NaN,-0.494991,NaN,NaN,2020-12-31 22:00:00,NaN,NaN,NaN
236687,-0.301075,-0.167407,-0.173225,-0.162551,-0.360322,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.016956,NaN,-0.494968,NaN,NaN,2020-12-31 23:00:00,NaN,NaN,NaN

In [20]:
raw_cols = df.columns.tolist()

levels = []
for col in raw_cols:
    parts = col.split(', ')        
    if len(parts) == 2:
        src, var = parts           # Inputs vars => has both CS and ERA5 levels
    else:
        src, var = 'CS', parts[0]  # Vars not needed to be requested => doesn't have ERA5 level
    levels.append((var, src))

df.columns = pd.MultiIndex.from_tuples(levels, names=['variable','source']) # Variable for outer level, source en inner level

df = df.sort_index(axis=1, level='variable') # Group by variable
df

variable       CO2              G              H        LE     LW_IN       \
source          CS ERA5        CS ERA5        CS        CS        CS ERA5
0              NaN  NaN       NaN  NaN       NaN       NaN       NaN  NaN
1              NaN  NaN       NaN  NaN       NaN       NaN       NaN  NaN
2              NaN  NaN       NaN  NaN       NaN       NaN       NaN  NaN
3              NaN  NaN       NaN  NaN       NaN       NaN       NaN  NaN
4              NaN  NaN       NaN  NaN       NaN       NaN       NaN  NaN
...            ...  ...       ...  ...       ...       ...       ...  ...
236683   -0.301087  NaN -0.167411  NaN -0.173071 -0.162175 -0.360071  NaN
236684   -0.301083  NaN -0.167410  NaN -0.173181 -0.162261 -0.360130  NaN
236685   -0.301080  NaN -0.167409  NaN -0.173203 -0.162386 -0.360191  NaN
236686   -0.301077  NaN -0.167408  NaN -0.173198 -0.162516 -0.360256  NaN
236687   -0.301075  NaN -0.167407  NaN -0.173225 -0.162551 -0.360322  NaN

variable LW_OUT NETRAD  ... PPFD_OUT  RH SW_IN SW_OUT        TA USTAR  \
source       CS     CS  ...       CS  CS    CS     CS        CS    CS
0           NaN    NaN  ...      NaN NaN   NaN    NaN       NaN   NaN
1           NaN    NaN  ...      NaN NaN   NaN    NaN       NaN   NaN
2           NaN    NaN  ...      NaN NaN   NaN    NaN       NaN   NaN
3           NaN    NaN  ...      NaN NaN   NaN    NaN       NaN   NaN
4           NaN    NaN  ...      NaN NaN   NaN    NaN       NaN   NaN
...         ...    ...  ...      ...  ..   ...    ...       ...   ...
236683      NaN    NaN  ...      NaN NaN  -0.5    NaN -0.016972   NaN
236684      NaN    NaN  ...      NaN NaN  -0.5    NaN -0.016956   NaN
236685      NaN    NaN  ...      NaN NaN  -0.5    NaN -0.016956   NaN
236686      NaN    NaN  ...      NaN NaN  -0.5    NaN -0.016956   NaN
236687      NaN    NaN  ...      NaN NaN  -0.5    NaN -0.016956   NaN

variable       VPD  WD  WS           timestamp
source          CS  CS  CS                  CS
0              NaN NaN NaN 1994-01-01 00:00:00
1              NaN NaN NaN 1994-01-01 01:00:00
2              NaN NaN NaN 1994-01-01 02:00:00
3              NaN NaN NaN 1994-01-01 03:00:00
4              NaN NaN NaN 1994-01-01 04:00:00
...            ...  ..  ..                 ...
236683   -0.495032 NaN NaN 2020-12-31 19:00:00
236684   -0.495005 NaN NaN 2020-12-31 20:00:00
236685   -0.494991 NaN NaN 2020-12-31 21:00:00
236686   -0.494991 NaN NaN 2020-12-31 22:00:00
236687   -0.494968 NaN NaN 2020-12-31 23:00:00

[236688 rows x 23 columns]

In [21]:
miss = filtered_df[filtered_df[filtered_df.columns.drop('timestamp')].isnull().any(axis=1)].copy()
miss['year']  = miss['timestamp'].dt.year
miss['month'] = miss['timestamp'].dt.month
miss['day'] = miss['timestamp'].dt.day

In [22]:
combined = cli.merge_datasets()
combined

failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)
failed to set key 'missingValue' to np.float32(3.4028235e+38)

                                                        number  \
time                latitude longitude step
1994-01-01 18:00:00 75.125   44.875    0 days 01:00:00     0.0
                                       0 days 02:00:00     0.0
                                       0 days 03:00:00     0.0
                                       0 days 04:00:00     0.0
                                       0 days 05:00:00     0.0
...                                                        ...
1994-01-01 23:00:00 74.875   45.125    0 days 08:00:00     NaN
                                       0 days 09:00:00     NaN
                                       0 days 10:00:00     NaN
                                       0 days 11:00:00     NaN
                                       0 days 12:00:00     NaN

                                                        depthBelowLandLayer  \
time                latitude longitude step
1994-01-01 18:00:00 75.125   44.875    0 days 01:00:00                  0.0
                                       0 days 02:00:00                  0.0
                                       0 days 03:00:00                  0.0
                                       0 days 04:00:00                  0.0
                                       0 days 05:00:00                  0.0
...                                                                     ...
1994-01-01 23:00:00 74.875   45.125    0 days 08:00:00                  NaN
                                       0 days 09:00:00                  NaN
                                       0 days 10:00:00                  NaN
                                       0 days 11:00:00                  NaN
                                       0 days 12:00:00                  NaN

                                                       valid_time  \
time                latitude longitude step
1994-01-01 18:00:00 75.125   44.875    0 days 01:00:00        NaT
                                       0 days 02:00:00        NaT
                                       0 days 03:00:00        NaT
                                       0 days 04:00:00        NaT
                                       0 days 05:00:00        NaT
...                                                           ...
1994-01-01 23:00:00 74.875   45.125    0 days 08:00:00        NaT
                                       0 days 09:00:00        NaT
                                       0 days 10:00:00        NaT
                                       0 days 11:00:00        NaT
                                       0 days 12:00:00        NaT

                                                        volumetric_soil_water_layer_1  \
time                latitude longitude step
1994-01-01 18:00:00 75.125   44.875    0 days 01:00:00                            NaN
                                       0 days 02:00:00                            NaN
                                       0 days 03:00:00                            NaN
                                       0 days 04:00:00                            NaN
                                       0 days 05:00:00                            NaN
...                                                                               ...
1994-01-01 23:00:00 74.875   45.125    0 days 08:00:00                            NaN
                                       0 days 09:00:00                            NaN
                                       0 days 10:00:00                            NaN
                                       0 days 11:00:00                            NaN
                                       0 days 12:00:00                            NaN

                                                        soil_temperature_level_1  \
time                latitude longitude step
1994-01-01 18:00:00 75.125   44.875    0 days 01:00:00                       NaN
                                       0 days 02:00:00                       NaN
                                       0 days 03:00:00                       NaN
                                       0 days 04:00:00                       NaN
                                       0 days 05:00:00                       NaN
...                                                                          ...
1994-01-01 23:00:00 74.875   45.125    0 days 08:00:00                       NaN
                                       0 days 09:00:00                       NaN
                                       0 days 10:00:00                       NaN
                                       0 days 11:00:00                       NaN
                                       0 days 12:00:00                       NaN

                                                        volumetric_soil_water_layer_2  \
time                latitude longitude step
1994-01-01 18:00:00 75.125   44.875    0 days 01:00:00                            NaN
                                       0 days 02:00:00                            NaN
                                       0 days 03:00:00                            NaN
                                       0 days 04:00:00                            NaN
                                       0 days 05:00:00                            NaN
...                                                                               ...
1994-01-01 23:00:00 74.875   45.125    0 days 08:00:00                            NaN
                                       0 days 09:00:00                            NaN
                                       0 days 10:00:00                            NaN
                                       0 days 11:00:00                            NaN
                                       0 days 12:00:00                            NaN

                                                        soil_temperature_level_2  \
time                latitude longitude step
1994-01-01 18:00:00 75.125   44.875    0 days 01:00:00                       NaN
                                       0 days 02:00:00                       NaN
                                       0 days 03:00:00                       NaN
                                       0 days 04:00:00                       NaN
                                       0 days 05:00:00                       NaN
...                                                                          ...
1994-01-01 23:00:00 74.875   45.125    0 days 08:00:00                       NaN
                                       0 days 09:00:00                       NaN
                                       0 days 10:00:00                       NaN
                                       0 days 11:00:00                       NaN
                                       0 days 12:00:00                       NaN

                                                        volumetric_soil_water_layer_3  \
time                latitude longitude step
1994-01-01 18:00:00 75.125   44.875    0 days 01:00:00                            NaN
                                       0 days 02:00:00                            NaN
                                       0 days 03:00:00                            NaN
                                       0 days 04:00:00                            NaN
                                       0 days 05:00:00                            NaN
...                                                                               ...
1994-01-01 23:00:00 74.875   45.125    0 days 08:00:00                            NaN
                                       0 days 09:00:00                            NaN
                                       0 days 10:00:00                            NaN
                                       0 days 11:00:00                            NaN
                                       0 days 12:00:00                            NaN

                                                        soil_temperature_level_3  \
time                latitude longitude step
1994-01-01 18:00:00 75.125   44.875    0 days 01:00:00                       NaN
                                       0 days 02:00:00                       NaN
                                       0 days 03:00:00                       NaN
                                       0 days 04:00:00                       NaN
                                       0 days 05:00:00                       NaN
...                                                                          ...
1994-01-01 23:00:00 74.875   45.125    0 days 08:00:00                       NaN
                                       0 days 09:00:00                       NaN
                                       0 days 10:00:00                       NaN
                                       0 days 11:00:00                       NaN
                                       0 days 12:00:00                       NaN

                                                        surface  ...  \
time                latitude longitude step                      ...
1994-01-01 18:00:00 75.125   44.875    0 days 01:00:00      0.0  ...
                                       0 days 02:00:00      0.0  ...
                                       0 days 03:00:00      0.0  ...
                                       0 days 04:00:00      0.0  ...
                                       0 days 05:00:00      0.0  ...
...                                                         ...  ...
1994-01-01 23:00:00 74.875   45.125    0 days 08:00:00      NaN  ...
                                       0 days 09:00:00      NaN  ...
                                       0 days 10:00:00      NaN  ...
                                       0 days 11:00:00      NaN  ...
                                       0 days 12:00:00      NaN  ...

                                                        instantaneous_surface_sensible_heat_flux  \
time                latitude longitude step
1994-01-01 18:00:00 75.125   44.875    0 days 01:00:00                               -107.131683
                                       0 days 02:00:00                               -107.131683
                                       0 days 03:00:00                               -107.131683
                                       0 days 04:00:00                               -107.131683
                                       0 days 05:00:00                               -107.131683
...                                                                                          ...
1994-01-01 23:00:00 74.875   45.125    0 days 08:00:00                               -142.073074
                                       0 days 09:00:00                               -142.073074
                                       0 days 10:00:00                               -142.073074
                                       0 days 11:00:00                               -142.073074
                                       0 days 12:00:00                               -142.073074

                                                        forecast_albedo  \
time                latitude longitude step
1994-01-01 18:00:00 75.125   44.875    0 days 01:00:00         0.074393
                                       0 days 02:00:00         0.074393
                                       0 days 03:00:00         0.074393
                                       0 days 04:00:00         0.074393
                                       0 days 05:00:00         0.074393
...                                                                 ...
1994-01-01 23:00:00 74.875   45.125    0 days 08:00:00         0.059997
                                       0 days 09:00:00         0.059997
                                       0 days 10:00:00         0.059997
                                       0 days 11:00:00         0.059997
                                       0 days 12:00:00         0.059997

                                                        surface_sensible_heat_flux  \
time                latitude longitude step
1994-01-01 18:00:00 75.125   44.875    0 days 01:00:00                -421156.3750
                                       0 days 02:00:00                -453051.3750
                                       0 days 03:00:00                -453931.8125
                                       0 days 04:00:00                -462880.2500
                                       0 days 05:00:00                -492671.5000
...                                                                            ...
1994-01-01 23:00:00 74.875   45.125    0 days 08:00:00                         NaN
                                       0 days 09:00:00                         NaN
                                       0 days 10:00:00                         NaN
                                       0 days 11:00:00                         NaN
                                       0 days 12:00:00                         NaN

                                                        surface_latent_heat_flux  \
time                latitude longitude step
1994-01-01 18:00:00 75.125   44.875    0 days 01:00:00              -428561.3125
                                       0 days 02:00:00              -453239.3750
                                       0 days 03:00:00              -464250.5625
                                       0 days 04:00:00              -473865.5000
                                       0 days 05:00:00              -489330.0000
...                                                                          ...
1994-01-01 23:00:00 74.875   45.125    0 days 08:00:00                       NaN
                                       0 days 09:00:00                       NaN
                                       0 days 10:00:00                       NaN
                                       0 days 11:00:00                       NaN
                                       0 days 12:00:00                       NaN

                                                        total_precipitation  \
time                latitude longitude step
1994-01-01 18:00:00 75.125   44.875    0 days 01:00:00             0.000085
                                       0 days 02:00:00             0.000113
                                       0 days 03:00:00             0.000144
                                       0 days 04:00:00             0.000174
                                       0 days 05:00:00             0.000209
...                                                                     ...
1994-01-01 23:00:00 74.875   45.125    0 days 08:00:00                  NaN
                                       0 days 09:00:00                  NaN
                                       0 days 10:00:00                  NaN
                                       0 days 11:00:00                  NaN
                                       0 days 12:00:00                  NaN

                                                        friction_velocity  \
time                latitude longitude step
1994-01-01 18:00:00 75.125   44.875    0 days 01:00:00           0.666630
                                       0 days 02:00:00           0.679216
                                       0 days 03:00:00           0.696382
                                       0 days 04:00:00           0.731781
                                       0 days 05:00:00           0.759032
...                                                                   ...
1994-01-01 23:00:00 74.875   45.125    0 days 08:00:00                NaN
                                       0 days 09:00:00                NaN
                                       0 days 10:00:00                NaN
                                       0 days 11:00:00                NaN
                                       0 days 12:00:00                NaN

                                                        mean_surface_downward_short_wave_radiation_flux  \
time                latitude longitude step
1994-01-01 18:00:00 75.125   44.875    0 days 01:00:00                                              0.0
                                       0 days 02:00:00                                              0.0
                                       0 days 03:00:00                                              0.0
                                       0 days 04:00:00                                              0.0
                                       0 days 05:00:00                                              0.0
...                                                                                                 ...
1994-01-01 23:00:00 74.875   45.125    0 days 08:00:00                                              NaN
                                       0 days 09:00:00                                              NaN
                                       0 days 10:00:00                                              NaN
                                       0 days 11:00:00                                              NaN
                                       0 days 12:00:00                                              NaN

                                                        mean_surface_downward_long_wave_radiation_flux  \
time                latitude longitude step
1994-01-01 18:00:00 75.125   44.875    0 days 01:00:00                                      264.313110
                                       0 days 02:00:00                                      273.596802
                                       0 days 03:00:00                                      270.221497
                                       0 days 04:00:00                                      267.835938
                                       0 days 05:00:00                                      272.790283
...                                                                                                ...
1994-01-01 23:00:00 74.875   45.125    0 days 08:00:00                                             NaN
                                       0 days 09:00:00                                             NaN
                                       0 days 10:00:00                                             NaN
                                       0 days 11:00:00                                             NaN
                                       0 days 12:00:00                                             NaN

                                                        mean_surface_downward_short_wave_radiation_flux_clear_sky  \
time                latitude longitude step
1994-01-01 18:00:00 75.125   44.875    0 days 01:00:00                                                0.0
                                       0 days 02:00:00                                                0.0
                                       0 days 03:00:00                                                0.0
                                       0 days 04:00:00                                                0.0
                                       0 days 05:00:00                                                0.0
...                                                                                                   ...
1994-01-01 23:00:00 74.875   45.125    0 days 08:00:00                                                NaN
                                       0 days 09:00:00                                                NaN
                                       0 days 10:00:00                                                NaN
                                       0 days 11:00:00                                                NaN
                                       0 days 12:00:00                                                NaN

                                                        mean_surface_downward_long_wave_radiation_flux_clear_sky
time                latitude longitude step

In [27]:
combined = combined.rename(columns=SHORTNAME_TO_FULLNAME)
combined.loc[(slice(None), 75.125, 45.125, slice(None))].head(20)

                                     number  depthBelowLandLayer valid_time  \
time                step
1994-01-01 18:00:00 0 days 01:00:00     0.0                  0.0        NaT
                    0 days 02:00:00     0.0                  0.0        NaT
                    0 days 03:00:00     0.0                  0.0        NaT
                    0 days 04:00:00     0.0                  0.0        NaT
                    0 days 05:00:00     0.0                  0.0        NaT
                    0 days 06:00:00     0.0                  0.0        NaT
                    0 days 07:00:00     0.0                  0.0        NaT
                    0 days 08:00:00     0.0                  0.0        NaT
                    0 days 09:00:00     0.0                  0.0        NaT
                    0 days 10:00:00     0.0                  0.0        NaT
                    0 days 11:00:00     0.0                  0.0        NaT
                    0 days 12:00:00     0.0                  0.0        NaT
1994-01-02 00:00:00 0 days 01:00:00     0.0                  0.0 1994-01-02
                    0 days 02:00:00     0.0                  0.0 1994-01-02
                    0 days 03:00:00     0.0                  0.0 1994-01-02
                    0 days 04:00:00     0.0                  0.0 1994-01-02
                    0 days 05:00:00     0.0                  0.0 1994-01-02
                    0 days 06:00:00     0.0                  0.0 1994-01-02
                    0 days 07:00:00     0.0                  0.0 1994-01-02
                    0 days 08:00:00     0.0                  0.0 1994-01-02

                                     volumetric_soil_water_layer_1  \
time                step
1994-01-01 18:00:00 0 days 01:00:00                            NaN
                    0 days 02:00:00                            NaN
                    0 days 03:00:00                            NaN
                    0 days 04:00:00                            NaN
                    0 days 05:00:00                            NaN
                    0 days 06:00:00                            NaN
                    0 days 07:00:00                            NaN
                    0 days 08:00:00                            NaN
                    0 days 09:00:00                            NaN
                    0 days 10:00:00                            NaN
                    0 days 11:00:00                            NaN
                    0 days 12:00:00                            NaN
1994-01-02 00:00:00 0 days 01:00:00                       0.000012
                    0 days 02:00:00                       0.000012
                    0 days 03:00:00                       0.000012
                    0 days 04:00:00                       0.000012
                    0 days 05:00:00                       0.000012
                    0 days 06:00:00                       0.000012
                    0 days 07:00:00                       0.000012
                    0 days 08:00:00                       0.000012

                                     soil_temperature_level_1  \
time                step
1994-01-01 18:00:00 0 days 01:00:00                       NaN
                    0 days 02:00:00                       NaN
                    0 days 03:00:00                       NaN
                    0 days 04:00:00                       NaN
                    0 days 05:00:00                       NaN
                    0 days 06:00:00                       NaN
                    0 days 07:00:00                       NaN
                    0 days 08:00:00                       NaN
                    0 days 09:00:00                       NaN
                    0 days 10:00:00                       NaN
                    0 days 11:00:00                       NaN
                    0 days 12:00:00                       NaN
1994-01-02 00:00:00 0 days 01:00:00                272.980255
                    0 days 02:00:00                272.980255
                    0 days 03:00:00                272.980255
                    0 days 04:00:00                272.980255
                    0 days 05:00:00                272.980255
                    0 days 06:00:00                272.980255
                    0 days 07:00:00                272.980255
                    0 days 08:00:00                272.980255

                                     volumetric_soil_water_layer_2  \
time                step
1994-01-01 18:00:00 0 days 01:00:00                            NaN
                    0 days 02:00:00                            NaN
                    0 days 03:00:00                            NaN
                    0 days 04:00:00                            NaN
                    0 days 05:00:00                            NaN
                    0 days 06:00:00                            NaN
                    0 days 07:00:00                            NaN
                    0 days 08:00:00                            NaN
                    0 days 09:00:00                            NaN
                    0 days 10:00:00                            NaN
                    0 days 11:00:00                            NaN
                    0 days 12:00:00                            NaN
1994-01-02 00:00:00 0 days 01:00:00                      -0.000002
                    0 days 02:00:00                      -0.000002
                    0 days 03:00:00                      -0.000002
                    0 days 04:00:00                      -0.000002
                    0 days 05:00:00                      -0.000002
                    0 days 06:00:00                      -0.000002
                    0 days 07:00:00                      -0.000002
                    0 days 08:00:00                      -0.000002

                                     soil_temperature_level_2  \
time                step
1994-01-01 18:00:00 0 days 01:00:00                       NaN
                    0 days 02:00:00                       NaN
                    0 days 03:00:00                       NaN
                    0 days 04:00:00                       NaN
                    0 days 05:00:00                       NaN
                    0 days 06:00:00                       NaN
                    0 days 07:00:00                       NaN
                    0 days 08:00:00                       NaN
                    0 days 09:00:00                       NaN
                    0 days 10:00:00                       NaN
                    0 days 11:00:00                       NaN
                    0 days 12:00:00                       NaN
1994-01-02 00:00:00 0 days 01:00:00                272.997253
                    0 days 02:00:00                272.997253
                    0 days 03:00:00                272.997253
                    0 days 04:00:00                272.997253
                    0 days 05:00:00                272.997253
                    0 days 06:00:00                272.997253
                    0 days 07:00:00                272.997253
                    0 days 08:00:00                272.997253

                                     volumetric_soil_water_layer_3  \
time                step
1994-01-01 18:00:00 0 days 01:00:00                            NaN
                    0 days 02:00:00                            NaN
                    0 days 03:00:00                            NaN
                    0 days 04:00:00                            NaN
                    0 days 05:00:00                            NaN
                    0 days 06:00:00                            NaN
                    0 days 07:00:00                            NaN
                    0 days 08:00:00                            NaN
                    0 days 09:00:00                            NaN
                    0 days 10:00:00                            NaN
                    0 days 11:00:00                            NaN
                    0 days 12:00:00                            NaN
1994-01-02 00:00:00 0 days 01:00:00                      -0.000004
                    0 days 02:00:00                      -0.000004
                    0 days 03:00:00                      -0.000004
                    0 days 04:00:00                      -0.000004
                    0 days 05:00:00                      -0.000004
                    0 days 06:00:00                      -0.000004
                    0 days 07:00:00                      -0.000004
                    0 days 08:00:00                      -0.000004

                                     soil_temperature_level_3  surface  ...  \
time                step                                                ...
1994-01-01 18:00:00 0 days 01:00:00                       NaN      0.0  ...
                    0 days 02:00:00                       NaN      0.0  ...
                    0 days 03:00:00                       NaN      0.0  ...
                    0 days 04:00:00                       NaN      0.0  ...
                    0 days 05:00:00                       NaN      0.0  ...
                    0 days 06:00:00                       NaN      0.0  ...
                    0 days 07:00:00                       NaN      0.0  ...
                    0 days 08:00:00                       NaN      0.0  ...
                    0 days 09:00:00                       NaN      0.0  ...
                    0 days 10:00:00                       NaN      0.0  ...
                    0 days 11:00:00                       NaN      0.0  ...
                    0 days 12:00:00                       NaN      0.0  ...
1994-01-02 00:00:00 0 days 01:00:00                 272.99765      0.0  ...
                    0 days 02:00:00                 272.99765      0.0  ...
                    0 days 03:00:00                 272.99765      0.0  ...
                    0 days 04:00:00                 272.99765      0.0  ...
                    0 days 05:00:00                 272.99765      0.0  ...
                    0 days 06:00:00                 272.99765      0.0  ...
                    0 days 07:00:00                 272.99765      0.0  ...
                    0 days 08:00:00                 272.99765      0.0  ...

                                     instantaneous_surface_sensible_heat_flux  \
time                step
1994-01-01 18:00:00 0 days 01:00:00                               -116.453705
                    0 days 02:00:00                               -116.453705
                    0 days 03:00:00                               -116.453705
                    0 days 04:00:00                               -116.453705
                    0 days 05:00:00                               -116.453705
                    0 days 06:00:00                               -116.453705
                    0 days 07:00:00                               -116.453705
                    0 days 08:00:00                               -116.453705
                    0 days 09:00:00                               -116.453705
                    0 days 10:00:00                               -116.453705
                    0 days 11:00:00                               -116.453705
                    0 days 12:00:00                               -116.453705
1994-01-02 00:00:00 0 days 01:00:00                                       NaN
                    0 days 02:00:00                                       NaN
                    0 days 03:00:00                                       NaN
                    0 days 04:00:00                                       NaN
                    0 days 05:00:00                                       NaN
                    0 days 06:00:00                                       NaN
                    0 days 07:00:00                                       NaN
                    0 days 08:00:00                                       NaN

                                     forecast_albedo  \
time                step
1994-01-01 18:00:00 0 days 01:00:00         0.059993
                    0 days 02:00:00         0.059993
                    0 days 03:00:00         0.059993
                    0 days 04:00:00         0.059993
                    0 days 05:00:00         0.059993
                    0 days 06:00:00         0.059993
                    0 days 07:00:00         0.059993
                    0 days 08:00:00         0.059993
                    0 days 09:00:00         0.059993
                    0 days 10:00:00         0.059993
                    0 days 11:00:00         0.059993
                    0 days 12:00:00         0.059993
1994-01-02 00:00:00 0 days 01:00:00              NaN
                    0 days 02:00:00              NaN
                    0 days 03:00:00              NaN
                    0 days 04:00:00              NaN
                    0 days 05:00:00              NaN
                    0 days 06:00:00              NaN
                    0 days 07:00:00              NaN
                    0 days 08:00:00              NaN

                                     surface_sensible_heat_flux  \
time                step
1994-01-01 18:00:00 0 days 01:00:00                -450896.3750
                    0 days 02:00:00                -483457.3750
                    0 days 03:00:00                -484845.8125
                    0 days 04:00:00                -492207.2500
                    0 days 05:00:00                -521935.0000
                    0 days 06:00:00                         NaN
                    0 days 07:00:00                         NaN
                    0 days 08:00:00                         NaN
                    0 days 09:00:00                         NaN
                    0 days 10:00:00                         NaN
                    0 days 11:00:00                         NaN
                    0 days 12:00:00                         NaN
1994-01-02 00:00:00 0 days 01:00:00                         NaN
                    0 days 02:00:00                         NaN
                    0 days 03:00:00                         NaN
                    0 days 04:00:00                         NaN
                    0 days 05:00:00                         NaN
                    0 days 06:00:00                         NaN
                    0 days 07:00:00                         NaN
                    0 days 08:00:00                         NaN

                                     surface_latent_heat_flux  \
time                step
1994-01-01 18:00:00 0 days 01:00:00              -439066.8125
                    0 days 02:00:00              -463745.1250
                    0 days 03:00:00              -477771.5625
                    0 days 04:00:00              -488783.0000
                    0 days 05:00:00              -502470.2500
                    0 days 06:00:00                       NaN
                    0 days 07:00:00                       NaN
                    0 days 08:00:00                       NaN
                    0 days 09:00:00                       NaN
                    0 days 10:00:00                       NaN
                    0 days 11:00:00                       NaN
                    0 days 12:00:00                       NaN
1994-01-02 00:00:00 0 days 01:00:00                       NaN
                    0 days 02:00:00                       NaN
                    0 days 03:00:00                       NaN
                    0 days 04:00:00                       NaN
                    0 days 05:00:00                       NaN
                    0 days 06:00:00                       NaN
                    0 days 07:00:00                       NaN
                    0 days 08:00:00                       NaN

                                     total_precipitation  friction_velocity  \
time                step
1994-01-01 18:00:00 0 days 01:00:00             0.000090           0.665828
                    0 days 02:00:00             0.000114           0.679276
                    0 days 03:00:00             0.000141           0.693628
                    0 days 04:00:00             0.000169           0.726877
                    0 days 05:00:00             0.000202           0.752206
                    0 days 06:00:00                  NaN                NaN
                    0 days 07:00:00                  NaN                NaN
                    0 days 08:00:00                  NaN                NaN
                    0 days 09:00:00                  NaN                NaN
                    0 days 10:00:00                  NaN                NaN
                    0 days 11:00:00                  NaN                NaN
                    0 days 12:00:00                  NaN                NaN
1994-01-02 00:00:00 0 days 01:00:00                  NaN                NaN
                    0 days 02:00:00                  NaN                NaN
                    0 days 03:00:00                  NaN                NaN
                    0 days 04:00:00                  NaN                NaN
                    0 days 05:00:00                  NaN                NaN
                    0 days 06:00:00                  NaN                NaN
                    0 days 07:00:00                  NaN                NaN
                    0 days 08:00:00                  NaN                NaN

                                     mean_surface_downward_short_wave_radiation_flux  \
time                step
1994-01-01 18:00:00 0 days 01:00:00                                              0.0
                    0 days 02:00:00                                              0.0
                    0 days 03:00:00                                              0.0
                    0 days 04:00:00                                              0.0
                    0 days 05:00:00                                              0.0
                    0 days 06:00:00                                              NaN
                    0 days 07:00:00                                              NaN
                    0 days 08:00:00                                              NaN
                    0 days 09:00:00                                              NaN
                    0 days 10:00:00                                              NaN
                    0 days 11:00:00                                              NaN
                    0 days 12:00:00                                              NaN
1994-01-02 00:00:00 0 days 01:00:00                                              NaN
                    0 days 02:00:00                                              NaN
                    0 days 03:00:00                                              NaN
                    0 days 04:00:00                                              NaN
                    0 days 05:00:00                                              NaN
                    0 days 06:00:00                                              NaN
                    0 days 07:00:00                                              NaN
                    0 days 08:00:00                                              NaN

                                     mean_surface_downward_long_wave_radiation_flux  \
time                step
1994-01-01 18:00:00 0 days 01:00:00                                      264.971802
                    0 days 02:00:00                                      273.999756
                    0 days 03:00:00                                      270.295105
                    0 days 04:00:00                                      267.529846
                    0 days 05:00:00                                      272.286621
                    0 days 06:00:00                                             NaN
                    0 days 07:00:00                                             NaN

In [24]:
combined.index.names

FrozenList(['time', 'latitude', 'longitude', 'step'])

In [25]:
combined.loc[('1994-01-01', slice(None), slice(None), '01:00:00')]

                    number  depthBelowLandLayer valid_time  \
latitude longitude
75.125   44.875        0.0                  0.0        NaT
         45.125        0.0                  0.0        NaT
74.875   44.875        0.0                  0.0        NaT
         45.125        0.0                  0.0        NaT
75.125   44.875        NaN                  NaN        NaT
...                    ...                  ...        ...
74.875   45.125        NaN                  NaN        NaT
75.125   44.875        NaN                  NaN        NaT
         45.125        NaN                  NaN        NaT
74.875   44.875        NaN                  NaN        NaT
         45.125        NaN                  NaN        NaT

                    volumetric_soil_water_layer_1  soil_temperature_level_1  \
latitude longitude
75.125   44.875                               NaN                       NaN
         45.125                               NaN                       NaN
74.875   44.875                               NaN                       NaN
         45.125                               NaN                       NaN
75.125   44.875                               NaN                       NaN
...                                           ...                       ...
74.875   45.125                               NaN                       NaN
75.125   44.875                               NaN                       NaN
         45.125                               NaN                       NaN
74.875   44.875                               NaN                       NaN
         45.125                               NaN                       NaN

                    volumetric_soil_water_layer_2  soil_temperature_level_2  \
latitude longitude
75.125   44.875                               NaN                       NaN
         45.125                               NaN                       NaN
74.875   44.875                               NaN                       NaN
         45.125                               NaN                       NaN
75.125   44.875                               NaN                       NaN
...                                           ...                       ...
74.875   45.125                               NaN                       NaN
75.125   44.875                               NaN                       NaN
         45.125                               NaN                       NaN
74.875   44.875                               NaN                       NaN
         45.125                               NaN                       NaN

                    volumetric_soil_water_layer_3  soil_temperature_level_3  \
latitude longitude
75.125   44.875                               NaN                       NaN
         45.125                               NaN                       NaN
74.875   44.875                               NaN                       NaN
         45.125                               NaN                       NaN
75.125   44.875                               NaN                       NaN
...                                           ...                       ...
74.875   45.125                               NaN                       NaN
75.125   44.875                               NaN                       NaN
         45.125                               NaN                       NaN
74.875   44.875                               NaN                       NaN
         45.125                               NaN                       NaN

                    surface  ...  instantaneous_surface_sensible_heat_flux  \
latitude longitude           ...
75.125   44.875         0.0  ...                               -107.131683
         45.125         0.0  ...                               -116.453705
74.875   44.875         0.0  ...                               -109.857758
         45.125         0.0  ...                               -119.332855
75.125   44.875         NaN  ...                                -18.176025
...                     ...  ...                                       ...
74.875   45.125         NaN  ...                               -137.037704
75.125   44.875         NaN  ...                               -132.964920
         45.125         NaN  ...                               -143.046219
74.875   44.875         NaN  ...                               -131.826248
         45.125         NaN  ...                               -142.073074

                    forecast_albedo  surface_sensible_heat_flux  \
latitude longitude
75.125   44.875            0.074393                 -421156.375
         45.125            0.059993                 -450896.375
74.875   44.875            0.074630                 -423890.375
         45.125            0.059993                 -454118.375
75.125   44.875            0.059998                         NaN
...                             ...                         ...
74.875   45.125            0.059997                         NaN
75.125   44.875            0.074397                         NaN
         45.125            0.059997                         NaN
74.875   44.875            0.074634                         NaN
         45.125            0.059997                         NaN

                    surface_latent_heat_flux  total_precipitation  \
latitude longitude
75.125   44.875                 -428561.3125             0.000085
         45.125                 -439066.8125             0.000090
74.875   44.875                 -438697.8125             0.000089
         45.125                 -449375.8125             0.000095
75.125   44.875                          NaN                  NaN
...                                      ...                  ...
74.875   45.125                          NaN                  NaN
75.125   44.875                          NaN                  NaN
         45.125                          NaN                  NaN
74.875   44.875                          NaN                  NaN
         45.125                          NaN                  NaN

                    friction_velocity  \
latitude longitude
75.125   44.875              0.666630
         45.125              0.665828
74.875   44.875              0.674679
         45.125              0.673863
75.125   44.875                   NaN
...                               ...
74.875   45.125                   NaN
75.125   44.875                   NaN
         45.125                   NaN
74.875   44.875                   NaN
         45.125                   NaN

                    mean_surface_downward_short_wave_radiation_flux  \
latitude longitude
75.125   44.875                                                 0.0
         45.125                                                 0.0
74.875   44.875                                                 0.0
         45.125                                                 0.0
75.125   44.875                                                 NaN
...                                                             ...
74.875   45.125                                                 NaN
75.125   44.875                                                 NaN
         45.125                                                 NaN
74.875   44.875                                                 NaN
         45.125                                                 NaN

                    mean_surface_downward_long_wave_radiation_flux  \
latitude longitude
75.125   44.875                                         264.313110
         45.125                                         264.971802
74.875   44.875                                         268.456421
         45.125                                         269.125854
75.125   44.875                                                NaN
...                                                            ...
74.875   45.125                                                NaN
75.125   44.875                                                NaN
         45.125                                                NaN
74.875   44.875                                                NaN
         45.125                                                NaN

                    mean_surface_downward_short_wave_radiation_flux_clear_sky  \
latitude longitude
75.125   44.875                                                   0.0
         45.125                                                   0.0
74.875   44.875                                                   0.0
         45.125                                                   0.0
75.125   44.875                                                   NaN
...                                                               ...
74.875   45.125                                                   NaN
75.125   44.875                                                   NaN
         45.125                                                   NaN
74.875   44.875                                                   NaN
         45.125                                                   NaN

                    mean_surface_downward_long_wave_radiation_flux_clear_sky
latitude longitude
75.125   44.875                                            199.011688
         45.125                                            198.504135
74.875   44.875                                            198.941330
         45.125                                            198.425476
75.125   44.875                                                   NaN
...                                                               ...
74.875   45.125                                                   NaN
75.125   44.875                                                   NaN
         45.125                                                   NaN
74.875   44.875                                                   NaN
         45.125                                                   NaN

[96 rows x 50 columns]